* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #333333;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.animaite{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main_head_bg{
    background: url("../images/main_head_bg.png")  top center no-repeat;
}
.header{
    /*height: 150px;*/
    background: rgba(255,255,255,0.85);
    padding: 10px;
}
.logo{
    text-align: center;
}
.pt-20{
    padding-top: 20px;
}
.header img{
    max-width: 100%;
}
.head-info{
    width: 100%;
    height: 44px;
    border-bottom: 3px solid #999999;
}
.head-info a{
   text-decoration: none;
    color: #333;
}
.head-text-info{
    /*margin-right: 40px;*/
    display: flex;
}
.text_head{
    justify-content: space-between;
    display: flex;
}

.icon_upper{
    width: 60px;
    height: 35px;
    margin: 0 auto;
}

.icon_upper:hover, .nav-link:hover .icon_upper{
    background-position: center -37px;


}
.head_fb{
    background: url("../images/head_fb.png")  top center no-repeat;
}
.head_vk{
    background: url("../images/head_vk.png") top center no-repeat;
}
.head_ok{
    background: url("../images/head_ok.png") top center no-repeat;
}
.social_head div{
    display: inline-block;
}


.nav-link{
    text-align: center;
    font-weight: bold;
}
.nav-link:hover span{
    color: #c34e44;
}

.banner{
    height: 300px;
}

.nav_odn{
    background: url("../images/nav_odnoostnye.png") top center no-repeat;
}
.nav_dv{
    background: url("../images/nav_dvuosnye.png") top center no-repeat;
}
.nav_spec{
    background: url("../images/nav_spec.png") top center no-repeat;
}
.nav_gal{
    background: url("../images/nav_galerry.png") top center no-repeat;
}
.nav_ocomp{
    background: url("../images/nav_ocomp.png") top center no-repeat;
}
.nav_contacts{
    background: url("../images/nav_contacts.png") top center no-repeat;
}

.navbar-collapse ul li{

}
.navbar-collapse ul li a{
   color: #333;
}
.navbar-nav{
    justify-content: space-between;
    width: 100%;
}
.navbar{
    padding: 0.5rem 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #333;
    text-transform: uppercase;
}
.banner{
    color: white;
    font-weight: bold;
    font-size: 48px;
    padding: 50px 0;
}
.title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 2rem 0;
}
.title img{
    display: block;
    margin: 2rem auto;
}
.product_cart{
    height: 420px;
    padding: 10px;
    border: 1px solid #909090;
}
.product_cart a{
    text-decoration: none;
}
.product_cart:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.prod_cart_link, .prod_cart_link:hover{
    color: #333;
    text-decoration: none;
}

.prod_cart_img{
    width: 100%;
    height: 180px;
    padding: 5px;
}
.prod_cart_img img{
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.prod_cart_title{
    font-size: 20px;
    font-weight: bold;
}
.prod_cart_price{
    color: #c34e44;
    margin: .5rem 0;
}
.prod_cart_desc{
    margin-bottom: .5rem;
}
.prod_cart_btn{
    color: #c34e44;
    width: 100%;
    height: 2.5rem;
    border-radius: 50px;
    border: 2px solid #c34e44;
    text-align: center;
    vertical-align: middle;
}
.prod_cart_btn:hover{
    background: #c34e44;
    color: white;
}
.m-b_50{
    margin-bottom: 50px;
}
.banner_main_bg {
    background: url("../images/main_banner.png") top center no-repeat;
}
.banner_main{
    height: 542px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 3rem ;
    margin-top: 160px;
    font-weight: bold;

}
.title_kupit{
    text-align: right;
}
.title_kupit img{
    display: inline;
}
.c-red{
    color: #c34e44;
}
.m-t_-50{
    margin-top: -100px;
}

.prich_text{
    text-align: center;
    color: #c34e44;
    font-size: 36px;
    font-weight: bold;
}
.footer_bg{
    background: url("../images/main_footer_bg.png") top center no-repeat;

}






@media screen and (max-width: 1200px){
    .navbar-nav .nav-link span{
        font-size: 14px;
    }

}
@media screen and (max-width: 992px){
    .nav-link .icon_upper{
        display: none;
    }
    .icon_upper {
        width: 40px;
    }
    .head-text-info{
        font-size: 14px;
    }

}
@media screen and (max-width: 768px){
    .social_head{
        display: none;
    }
    .head-text-info {
        font-size: 20px;
    }
    .text_head{
        line-height: 40px;
    }
    .navbar-toggler{
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px){
    .head-text-info{
        width: 100%;
        display: block;
        text-align: center;
    }
    .text_head{
        display: block;
    }
    .head-info{
        height: auto;
    }
}